<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoomsun.after.dao.SendmsmMapper">
  <resultMap id="BaseResultMap" type="com.hoomsun.after.api.model.table.Sendmsm">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="LAON_ID" jdbcType="VARCHAR" property="laonId" />
    <result column="CON_NO" jdbcType="VARCHAR" property="conNo" />
    <result column="STREAM" jdbcType="DECIMAL" property="stream" />
    <result column="MSM_DESC" jdbcType="VARCHAR" property="msmDesc" />
    <result column="MSM_STATUS" jdbcType="VARCHAR" property="msmStatus" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, LAON_ID, CON_NO, STREAM, MSM_DESC, MSM_STATUS, CREATE_TIME, UPDATE_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HS_AFTER_SENDMSM
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from HS_AFTER_SENDMSM
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hoomsun.after.api.model.table.Sendmsm">
    insert into HS_AFTER_SENDMSM (ID, LAON_ID, CON_NO, 
      STREAM, MSM_DESC, MSM_STATUS, 
      CREATE_TIME, UPDATE_DATE)
    values (#{id,jdbcType=VARCHAR}, #{laonId,jdbcType=VARCHAR}, #{conNo,jdbcType=VARCHAR}, 
      #{stream,jdbcType=DECIMAL}, #{msmDesc,jdbcType=VARCHAR}, #{msmStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hoomsun.after.api.model.table.Sendmsm">
    insert into HS_AFTER_SENDMSM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="laonId != null">
        LAON_ID,
      </if>
      <if test="conNo != null">
        CON_NO,
      </if>
      <if test="stream != null">
        STREAM,
      </if>
      <if test="msmDesc != null">
        MSM_DESC,
      </if>
      <if test="msmStatus != null">
        MSM_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="laonId != null">
        #{laonId,jdbcType=VARCHAR},
      </if>
      <if test="conNo != null">
        #{conNo,jdbcType=VARCHAR},
      </if>
      <if test="stream != null">
        #{stream,jdbcType=DECIMAL},
      </if>
      <if test="msmDesc != null">
        #{msmDesc,jdbcType=VARCHAR},
      </if>
      <if test="msmStatus != null">
        #{msmStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hoomsun.after.api.model.table.Sendmsm">
    update HS_AFTER_SENDMSM
    <set>
      <if test="laonId != null">
        LAON_ID = #{laonId,jdbcType=VARCHAR},
      </if>
      <if test="conNo != null">
        CON_NO = #{conNo,jdbcType=VARCHAR},
      </if>
      <if test="stream != null">
        STREAM = #{stream,jdbcType=DECIMAL},
      </if>
      <if test="msmDesc != null">
        MSM_DESC = #{msmDesc,jdbcType=VARCHAR},
      </if>
      <if test="msmStatus != null">
        MSM_STATUS = #{msmStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hoomsun.after.api.model.table.Sendmsm">
    update HS_AFTER_SENDMSM
    set LAON_ID = #{laonId,jdbcType=VARCHAR},
      CON_NO = #{conNo,jdbcType=VARCHAR},
      STREAM = #{stream,jdbcType=DECIMAL},
      MSM_DESC = #{msmDesc,jdbcType=VARCHAR},
      MSM_STATUS = #{msmStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>